<div class="wrapper">

	<div class="left-side">
		<!-- Image -->
		<div class="image">
			<img src="../../assets/profile-2398782_1280.png" alt="profile-image" width="270px" height="270px">
		</div>
	</div>
	
	<div class="right-side">
		<!-- Languagues -->
		<div class="language">
			<button (click)="changeLanguage.emit()" class="mat-body-1" color="accent" mat-button>{{ currentLang }}</button>		
		</div>
		<div class="Content">
			<!-- Content -->
			<div class="greeting">
				<h1>{{ texts.profile.greeting }}</h1>
				<h1>{{ texts.profile.greeting_name }}</h1>
			</div>
			<div class="description">
				<div class="mat-headline">{{ texts.profile.status }}</div>
			</div>
			<!-- Link -->
			<div class="link">
				<button color="accent" mat-button>{{ texts.profile.show_button }}</button>		
			</div>
		</div>
	</div>
</div>
