<mat-sidenav-container>
	<mat-sidenav mode = "side" opened>
			<div class="image">
				<img class="img-profile" src="../../assets/profile-2398782_1280.png" alt="profile-image" >
			</div>
		</mat-sidenav>
	<mat-sidenav-content>
		<div class="language">
			<button (click)="changeLanguage.emit()" class="mat-body-1" color="accent" mat-button>{{ currentLang }}</button>		
		</div>
		<div class="content">
			<div class="greeting">
				<h1>{{ texts.profile.greeting }}</h1>
				<h1>{{ texts.profile.greeting_name }}</h1>
			</div>
			<div class="status">
				<div class="mat-headline">{{ texts.profile.status }}</div>
			</div>
			<app-mouse-scroll-animation></app-mouse-scroll-animation>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>

