<div class="title">
	<h1>
		{{texts.title}}
	</h1>
	<div class="experienceNo1">
		<h4>
			{{texts.work_experience1.company}}
		</h4>
		{{texts.work_experience1.job_position}}
		{{texts.work_experience1.date}}
		{{texts.work_experience1.description}}
	</div>
	<div class="experienceNo2">
		<h4>
			{{texts.work_experience2.company}}
		</h4>
		{{texts.work_experience2.job_position}}
		{{texts.work_experience2.date}}
		{{texts.work_experience2.description}}
	</div>
	<div class="experienceNo3">
		<h4>
			{{texts.work_experience3.company}}
		</h4>
		{{texts.work_experience3.job_position}}
		{{texts.work_experience3.date}}
		{{texts.work_experience3.description}}
	</div>
</div>	


