<div class="container">
	<h1>
		{{workExperience.title}}
	</h1>
	<div class="experienceNo1">
		{{workExperience.company1}}
		{{workExperience.job_position1}}
		{{workExperience.date1}}
		{{workExperience.description1}}
	</div>
	<div class="experienceNo2">
		{{workExperience.company2}}
		{{workExperience.job_position2}}
		{{workExperience.date}}
		{{workExperience.description2}}
	</div>
	<div class="experienceNo3">
		{{workExperience.company3}}
		{{workExperience.job_position3}}
		{{workExperience.date2}}
		{{workExperience.description3}}
	</div>
	
	<!-- <mat-sidenav-container>
		<mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
					 (closed)="events.push('close!')">
		  Sidenav content
		</mat-sidenav>

		<mat-sidenav-content>
			<div>
				Certificados
			</div>
		  </mat-sidenav-content>
	</mat-sidenav-container> -->

</div>	


