<mat-sidenav-container>
	<mat-sidenav mode="side" opened>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-divider></mat-divider>
		<h2>
			{{ texts.contact1 }}
		</h2>
		<h1>
			{{ texts.contact2 }}
		</h1>
		<div class="social-media">
			<a href="https://github.com/andii0890">
				<img src="../../assets/icons/icons8-github-48.png" alt="github-icon">
			</a>
			<a href="https://gitlab.com/andii0890">
				<img src="../../assets/icons/icons-gitlab.png" alt="gitlab-icon">
			</a>
			<a href="https://www.linkedin.com/in/andrea-elizabeth-jimenez-hernandez">
				<img src="../../assets/icons/icons8-linkedin-48.png" alt="linkedin-icon">
			</a>
			<a href="https://twitter.com/andii0890">
				<img src="../../assets/icons/icons8-twitter-48.png" alt="twitter-icon">
			</a>
		</div>
	</mat-sidenav-content>
	<mat-sidenav #sidenavright mode="side" opened position="end">
	</mat-sidenav>
</mat-sidenav-container>

