<div class="whoami">
	<h1>
		{{ texts.about.first_paragraph }} 
	</h1>
	{{ texts.about.paragraph_description1.paragraph_one }}   
</div>
<div class="whatdo">
	<h1>
		{{ texts.about.second_paragraph }}  
	</h1>
	{{ texts.about.paragraph_description2.paragraph_two }} 
</div>
<div class="help">
	<h1>
		{{ texts.about.third_paragraph }}   
	</h1>  
	{{ texts.about.paragraph_description3.paragraph_three }}   
</div>
<div class="graphic">
	<h6>
		{{ texts.about.graphic.abilities }}
		{{ texts.about.graphic.experience }}   
		{{ texts.about.graphic.hobbies }}  
		{{ texts.about.graphic.language }}   
		{{ texts.about.graphic.education }}   
	</h6>
</div>
<div class="sidebar">
	<h1>
		{{ texts.about.certifications }}  
	</h1>
</div>